header
    .header-left
        a.home(href="/")
            img.logo-header(src="/client/img/PinternetLogo.png")
    .header-right
        .logged-in.hide
            p Welcome, #[span#profile-display]!
            nav
                div.requests
                a.menu(href="/new") NEW PIN
                p.divider |
                a.menu(href="/library") MY PINS
                p.divider |
                a.menu(href="/logout") LOGOUT
        .not-logged-in.hide
            a.login(href="/login")
                button.login-button LOGIN
    script(type="text/javascript" src="/client/js/jquery.min.js")
    script(type="text/javascript" src="/client/js/header.js")