/*-----Main Style-----*/
body {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    background: #d9e7f4;
    padding: 50px 0 0 0;
    margin: 0;
}

p {
    margin: 8px 0 0 0;
}

.container {
    background: #fff;
    color: #000;
    border-radius: 10px;
    width: 400px;
    margin: 15px auto;    
    padding: 15px;
}

.container-library {
    background: #fff;
    color: #000;
    border-radius: 10px;
    width: 90%;
    margin: 15px auto;    
    padding: 15px;
}

h1 {
    padding: 10px;
    margin: 10px auto 10px auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*-----Header-----*/
header a ~ p {
    display: inline;
    padding: 0 5px;
}

.header-right {
    padding-right: 20px;
}

.logo-header {
    vertical-align: middle;
    margin-top: 5px;
    height: 40px;
    width: 80px;
}

header {
    position: fixed;
    width: 100%;
    text-align: right;
    background-color: #fff;
    color: #333;
    top: 0;
    left: 0;
    padding: 0 10px 5px 10px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0 0 25px 0 rgba(200,255,0,0.75);*/
}

.signed-in {
    padding-right: 20px;
    vertical-align: middle;
}
.not-signed-in {
    height: 50px;
    padding-right: 20px;
    vertical-align: middle;
    margin-top: 5px;
}

.login-button {
    height: 40px;
    width: 75px;
    background: #ed2828;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 7px;
}

.login-button:hover {
    cursor: pointer;
    background: #b11515;
}

header a.menu {
    font-weight: bold;
    text-decoration: none;
    color: #ed2828;
}

header a:hover {
    color: #b11515;
}

nav {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

nav p {
    margin-top: 0;
}

.hide {
    display: none;
}

/*-----Home Page-----*/
.container-home {
    width: 100%;
    height: 100%;
    background: none;
    padding: 20px 10px;
    text-align: center;
    color: #000;
    align-self: center;
}

.grid-item {
    background: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    margin: 10px;
    max-width: 300px;
    padding: 5px;
    width: 25%;
    display: inline-block;
}

.grid-item img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.pin-title {
    font-size: 1.2em;
    font-weight: bold;
}

.pin-link {
    text-decoration: none;
    color: #ed2828;
}

.pin-link:hover {
    color: #b11515;
    cursor: pointer;
}

/*-----Image Style-----*/
.logo-main {
    width: 300px;
    height: 150px;
    margin: 15px auto;
    display: block;
}

/*-----Login Page-----*/
.login-page {
    padding-top: 40px;
}

.logo-login {
    height: 150px;
    width: 300px;
    display: block;
    margin: 0 auto;
}

a.btn {
    text-decoration: none;
}

.btn {
    color: #fff;
    background: #00a4d8;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 40px;
    margin: 15px 10px 0px 10px;
    padding: 5px;
}

.login-text {
    font-size: 24px;
    color: #fff;
}

.btn:focus {
    outline: 0;
}

.btn:hover{
    background: #0082a7;
}

/*-----Library Page-----*/
.remove-pin {
    font-size: .8em;
    background: #fe8a8a;
    color: #ed2828;
    padding: 3px;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
}

.remove-pin:hover {
    cursor: pointer;
    color: #b11515;
}

/*-----Add Book Page-----*/
.add-page form {
    display: flex;
    flex-direction: column;
}

.add-page input,textarea {
    margin: 5px auto 10px auto;
    align-self: center;
    border-radius: 3px;
    border: solid 1px;
    padding: 3px;
}

.title-textbox {
    width: 250px;
}

.desc-textbox {
    width: 325px;
    height: 85px;
}

.submit {
    font-weight: bold;
    margin-top: 10px;
}

/*-----Book Page-----*/
.location-lbl {
    margin-top: 20px;
    font-weight: bold;
}

.book-city {
    margin-top: 3px;
}

.request-status {
    font-weight: bold;
    color: #009688;
    margin-top: 20px;
}

.owner-request {
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding: 5px;
    color: #000;
    font-weight: bold;
    margin: 5px;
}

.accept-request, .request-book {
    background: #5cd364;
}

.accept-request:hover, .request-book:hover {
    background: #2b9726;
    cursor: pointer;
}

.deny-request, .cancel-request {
    background: #e85d38;
}

.deny-request:hover, .cancel-request:hover {
    background: #c11e1e;
    cursor: pointer;
}

/*-----Profile Page-----*/
.profile-page form{
    display: flex;
    flex-direction: column;
}

.profile-page input {
    border-radius: 3px;
    padding: 3px;
    border: solid 1px;
    margin-bottom: 10px;
}

.profile-page label {
    align-self: flex-start;
}

/*-----Search Results Page-----*/
.logo-results {
    height: 40px;
    width: 80px;
    float: left;
}

.search-widget {
    margin: 15px auto 0 auto;
}

.results .search-widget {
    margin-top: 0;
}

.results-header {
    font-size: 24px;
}

.result {
    color: #333;
    margin: 10px auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

.result h2 {
    margin: 5px auto 10px auto;
}


/*-----Error Page-----*/
.error-div {
    align-self: flex-start;
}

button.home {
    height: 40px;
    width: 75px;
    background: #00a4d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px auto 10px auto;
    font-weight: bold;
    font-size: 18px;
}

button.home:hover {
    background: #0082a7;
    cursor: pointer;
}

/*-----USEFUL CODE-----*/

/*@media(max-width:1000px){*/
/*    body.stocks {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/
/*}*/