doctype html
html
    head
        title Add Book
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body.add-page
        .container.add-div
            h2 Add Book
            form(action="/create" method="post")
                label.title-lbl Title
                input.title-textbox(type="text" name="title")
                label.desc-lbl Description
                textarea.desc-textbox(name="desc")
                button.submit(type="submit" value="ADD") ADD
        script(type="text/javascript" src="/common/ajax-functions.js")
        script(type="text/javascript" src="/controllers/userController.client.js")