html
    head
        title Error
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    body
        .container.error-div
            h1.heading PINFILTRATION
            img.logo-main(src="/client/img/PinternetLogo.png")
            p.error-text You shouldn't be here. Go home.
            a(href="/")
                button.home HOME