html
    head
        title Error
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    body
        .container.error-div
            h1.heading Empty Shelf
            img.logo-main(src="/client/img/PinternetLogo.png")
            p.error-text Seems you got lost. You should book it home!
            a(href="/")
                button.home HOME