doctype html
html
    head
        title PINternet
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container-home
            img.logo-main(src="/client/img/PinternetLogo.png")
            .pin-wall.grid
                .grid-sizer
                each val in pins
                    .grid-item
                        img.pin-image(src=val.url)
                        p.pin-title= val.title
                        a.pin-link(href="/library/"+val.owner.id)
                            p.pin-owner= val.owner.name
        script(type="text/javascript" src="/client/js/jquery.min.js")
        script(type="text/javascript" src="/client/js/masonry.pkgd.min.js")
        script(type="text/javascript" src="/client/js/library.js")