-var title = name + "'s Pins"
doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body.library-page
        .container.library-div
            h1.library-header= title
            .pin-wall.grid
            each val in pins
                .grid-item
                    img.pin-image(src=val.url)
                    p.pin-title= val.title
                    if owner
                        p.remove-pin -
        script(type="text/javascript" src="/client/js/jquery.min.js")
        script(type="text/javascript" src="/client/js/masonry.pkgd.min.js")
        script(type="text/javascript" src="/client/js/library.js")