doctype html
html
    head
        title Login
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body.login-page
        .login
            img(src="/client/img/PinternetLogo.png" class="logo-login")
            a.btn#login-twitter(href="/auth/twitter")
                p
                    i.fa.fa-twitter
                p.login-text LOGIN